{% extends 'base.html' %}

{% block info %}

    <div>Главная страница на ней отображены все ссылки</div>
    <br>
     <div>
         <a href="http://127.0.0.1:8000/info/avtobiographi/">Автобиография: </a>http://127.0.0.1:8000/info/avtobiographi/
     </div>
    <br>
    <div>
        <a href="http://127.0.0.1:8000/info/kontakti/">Контакты: </a>http://127.0.0.1:8000/info/kontakti/
    </div>
    <br>
    <div><a href="http://127.0.0.1:8000/info/oproekte/">О проекте: </a>http://127.0.0.1:8000/info/oproekte/
    </div>
    <br>
    <div><a href="http://127.0.0.1:8000/info/druzya/">Друзья: </a>http://127.0.0.1:8000/info/druzya/
    </div>
    <br>
    <div><a href="http://127.0.0.1:8000/media/">Медиа: </a>http://127.0.0.1:8000/media/
    </div>
    <br>
    <div>-------------------Далее ссылки из базы данных--------------------</div>
    <br>
    <div><a href="http://127.0.0.1:8000/media/all/">Медиа all из Б/Д: </a>http://127.0.0.1:8000/media/all/
    </div>
    <br>
    <div><a href="http://127.0.0.1:8000/media/mediaforumall/">Медиа-Форум all из Б/Д: </a>http://127.0.0.1:8000/media/mediaforumall/
    </div>
    <br>
    <div><a href="http://127.0.0.1:8000/programming/forum/">Форум по программированию all из Б/Д: </a>http://127.0.0.1:8000/programming/forum/
    </div>





{% endblock %}