{% extends 'base.html' %}

{% block info %}

    <div>Главная страница на ней отображены все ссылки</div>
    <br>
     <div>
         <a href="/info/avtobiographi/">Автобиография: </a>/info/avtobiographi/
     </div>
    <br>
    <div>
        <a href="/info/kontakti/">Контакты: </a>/info/kontakti/
    </div>
    <br>
    <div><a href="/info/oproekte/">О проекте: </a>/info/oproekte/
    </div>
    <br>
    <div><a href="/info/druzya/">Друзья: </a>/info/druzya/
    </div>
    <br>
    <div><a href="/media/">Медиа: </a>/media/
    </div>
    <br>
    <div>-------------------Далее ссылки из базы данных--------------------</div>
    <br>
    <div><a href="/media/all/">Медиа all из Б/Д: </a>/media/all/
    </div>
    <br>
    <div><a href="/media/mediaforumall/">Медиа-Форум all из Б/Д: </a>/media/mediaforumall/
    </div>
    <br>
    <div><a href="/programming/forum/">Форум по программированию all из Б/Д: </a>/programming/forum/
    </div>
    <br>
    <div><a href="/media/audio/">Моё аудио all из Б/Д: </a>0/media/audio/
    </div>
    <br>
    <div><a href="/media/video/">Моё видео all из Б/Д: </a>/media/video/
    </div>
    <div><a href="http://yandex.ru/">яндекс </a></div>



{% endblock %}