<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>я есть base.html</h1>
<!--,юлок onesite -->

<div align="center">
    {% block onesite %} {% endblock %}
</div>

<div><a href="http://demo.kipishio.ru">Главная</a> http://demo.kipishio.ru/</div>
<div>----------------------------------------------------------------------------------------------</div>
<div>
    {% block info %}

    {% endblock %}
</div>

<div>
    {% block avtobiographi %} {% endblock %}
</div>

<div>
    {% block kontakti %} {% endblock %}
</div>

<div>
    {% block oproekte %} {% endblock %}
</div>

<div>
    {% block druzya %} {% endblock %}
</div>

<div>
    {% block media %} {% endblock %}
</div>

<div>
    {% block media_all %} {% endblock %}
</div>

<div>
    {% block mediaforum %} {% endblock %}
</div>

<div>
    {% block programmingforum %} {% endblock %}
</div>

<div>
    {% block myaudio %} {% endblock %}
</div>

<div>
    {% block myvideo %} {% endblock %}
</div>



</body>
</html>
